
/*********************** generelt ****************/

body {
  background-color: rgb(190, 219, 237);
  margin: 0%;
  padding: 0%;
}

.logo{
  width: 8%;
  margin: 3%;

}

.footer{
  background-image: url(billeder/SVG/strand.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30%;
  max-width: 100%;
  margin: 0;

 
}

@media screen and (max-width: 800px){

  .logo{
    width: 15%;
    margin: 3%;
  
  }
  
}







