
/*********************** generelt ****************/

body {
  background-color: rgb(190, 219, 237);
}

.logo{
  width: 8%;
  margin: 3%;

}

@media screen and (max-width: 800px){

  .logo{
    width: 15%;
    margin: 3%;
  
  }
  
}







